/* index.css */
:root {
  margin: 0;
  padding: 0;
  background-color: #1a0306; /* Cor Marsala Base */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #1a0306;
}

canvas {
  display: block;
}